<div class="border-right mysidebar" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a class="navbar-brand" href="#">
            <img style="width:100px;" src="/assets/img/logo.jpg">
        </a>
    </div>
    <div class="dropdown-divider"></div>
    <ul class="list-group list-group-flush">
        <li><a href="admin/dashboard" class="list-group-item list-group-item-action ">Dashboard</a></li>
        <li><a href="admin/manage-user" class="list-group-item list-group-item-action ">Manage Users</a></li>

        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action dropdown-toggle" data-toggle="dropdown">Manage Items</li>
            <div class="dropdown-menu dropdown-menu-right">
                <li><a href="admin/manage-item" class="list-group-item list-group-item-action ">Add Item</a></li>
                <li><a href="admin/manage-movies" class="list-group-item list-group-item-action ">Manage Movies</a></li>
                <li><a href="admin/manage-tvshows" class="list-group-item list-group-item-action ">Manage Tv-Shows</a></li>
                <!-- <div class="dropdown-divider"></div> -->
                <!-- <li><a href="admin/manage-genre" class="list-group-item list-group-item-action ">Manage Genre</a></li> -->
            </div>
        </ul>
<!-- 
        <li><a href="#" class="list-group-item list-group-item-action ">Events</a></li> -->
        <li><a href="admin/user-profile" class="list-group-item list-group-item-action ">Profile</a></li>
        <li><a href="admin/public-feedback" class="list-group-item list-group-item-action ">Feedback/Complaints</a></li>
    </ul>
</div>
