<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img style="width:100px;" src="/assets/img/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <h3 style="font-style: Comic Sans MS; color:#f5f6fa; text-shadow: 4px 4px 10px #000000;">Grab As You Wish</h3> 
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="user/sign-in"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign-In</a>
            </li>
        </ul>

    </div>
</nav>


<div class="container" style="background-color: #f8f9fa; border-bottom: 1px solid #d2dae2;">

    <!-- Static navbar -->
    <nav class="navbar justify-content-center navbar-expand-md navbar-light bg-light">
        <ul class="navbar-nav mynav">
            <li class="nav-item active">
                <a class="nav-link" href="#">🏠 Home<span class="sr-only">(current)</span></a>
            </li>

            <!-- <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
    </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          🎬 Movies
        </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="all-movies">All Movies</a></li>
                    <li><a class="dropdown-item" href="all-movies/Hollywood-Movies">Hollywood Movies</a></li>
                    <li><a class="dropdown-item" href="all-movies/Bollywood-Movies">Bollywood Movies</a></li>
                    <li><a class="dropdown-item" href="all-movies/Other-Movies">Other Movies</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        🔗 Genre
      </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="by-genre/Action">Action</a></li>
                    <li><a class="dropdown-item" href="by-genre/Adventure">Adventure</a></li>
                    <li><a class="dropdown-item" href="by-genre/Animated">Animated</a></li>
                    <li><a class="dropdown-item" href="by-genre/Biography">Biography</a></li>
                    <li><a class="dropdown-item" href="by-genre/Comedy">Comedy</a></li>
                    <li><a class="dropdown-item" href="by-genre/Crime">Crime</a></li>
                    <li><a class="dropdown-item" href="by-genre/Drama">Drama</a></li>
                    <li><a class="dropdown-item" href="by-genre/Family">Family</a></li>
                    <li><a class="dropdown-item" href="by-genre/Fantasy">Fantasy</a></li>
                    <li><a class="dropdown-item" href="by-genre/Horror">Horror</a></li>
                    <li><a class="dropdown-item" href="by-genre/Mystery">Mystery</a></li>
                    <li><a class="dropdown-item" href="by-genre/Romance">Romance</a></li>
                    <li><a class="dropdown-item" href="by-genre/Sci-Fi">Sci-Fi</a></li>
                    <li><a class="dropdown-item" href="by-genre/Sport">Sport</a></li>
                    <li><a class="dropdown-item" href="by-genre/Thriller">Thriller</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      📅 Year
    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="by-year/2020">2020</a></li>
                    <li><a class="dropdown-item" href="by-year/2019">2019</a></li>
                    <li><a class="dropdown-item" href="by-year/2018">2018</a></li>
                    <li><a class="dropdown-item" href="by-year/2017">2017</a></li>
                    <li><a class="dropdown-item" href="by-year/2016">2016</a></li>
                    <li><a class="dropdown-item" href="by-year/2015">2015</a></li>
                    <li><a class="dropdown-item" href="by-year/2014">2014</a></li>
                    <li><a class="dropdown-item" href="by-year/2013">2013</a></li>
                    <li><a class="dropdown-item" href="by-year/2012">2012</a></li>
                    <li><a class="dropdown-item" href="by-year/2011">2011</a></li>
                    <li><a class="dropdown-item" href="by-year/2005-2010">2005-2010</a></li>
                    <li><a class="dropdown-item" href="by-year/2000-2005">2000-2005</a></li>
                    <!-- <li><a class="dropdown-item" href="by-year/2008">2008</a></li>
                    <li><a class="dropdown-item" href="by-year/2007">2007</a></li>
                    <li><a class="dropdown-item" href="by-year/2006">2006</a></li>
                    <li><a class="dropdown-item" href="by-year/2005">2005</a></li>
                    <li><a class="dropdown-item" href="by-year/2004">2004</a></li>
                    <li><a class="dropdown-item" href="by-year/2003">2003</a></li>
                    <li><a class="dropdown-item" href="by-year/2002">2002</a></li>
                    <li><a class="dropdown-item" href="by-year/2001">2001</a></li>
                    <li><a class="dropdown-item" href="by-year/2000">2000</a></li> -->
                    
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ☠️ Quality
      </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="by-quality/BLURAY">BLURAY</a></li>
                    <li><a class="dropdown-item" href="by-quality/BRRIP">BRRIP</a></li>
                    <li><a class="dropdown-item" href="by-quality/WEBRIP">WEBRIP</a></li>
                    <li><a class="dropdown-item" href="by-quality/WEB-DL">WEB-DL</a></li>
                    <li><a class="dropdown-item" href="by-quality/WEB-HD">WEB-HD</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        📺 Tv Shows
      </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="all-shows">All Shows</a></li>
                    <li><a class="dropdown-item" href="all-shows/International-Tv-Shows">International Tv Shows</a></li>
                    <li><a class="dropdown-item" href="all-shows/Web-Series">Web Series</a></li>
                    <li><a class="dropdown-item" href="all-shows/Other-Shows">Other Shows</a></li>
                </ul>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        🎧 Music
      </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">🎮 PC Games</a>
            </li> -->
        </ul>
    </nav>
</div>