<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <app-adminheader></app-adminheader>
        <div class="container-fluid">
            <h1 class="mt-4">You can choose to update your profile for verification Or Manage movies and shows content if you are a verified User. </h1>
            <p>
                By signing in you choose to become coadmin for Grabish which helps & delivers most of the movies, shows etc. content on website 
                when verified by admin.</p>
            <p>The content you will provide to hammer out a magnificent coadmin responsibilities which will help us to promote our application to new heights.</p>

        </div>
    </div>
</div>