<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-primary" id="menu-toggle">☰</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="https://twitter.com/mj74518"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://www.facebook.com/mj74518"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item active dropdown" *ngIf="userDetails">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <img src="http://placehold.it/30x30" class="img-circle special-img">  -->
                    {{userDetails.uName}}
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="admin/user-profile"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a>
                    <a class="dropdown-item" href="admin/change-password"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>
                    <div class="dropdown-divider"></div>
                    <!-- <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button> -->
                    <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign-Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>