.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .pagination a{
    background-color:#2d3436;
    color:white;
    border-color: #2d3436;
}

.pagination .active{
    background-color:#3742fa;
    color:white;
    border-color: #3742fa;
}

.movielogo{
    width:16%;
    cursor:pointer;
    
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}



.movielogo:hover {
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-ms-filter: brightness(50%);
	filter: brightness(50%);
}

.movielogo2{
    width:100%;
    cursor:pointer;
    
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}



.movielogo2:hover {
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-ms-filter: brightness(50%);
	filter: brightness(50%);
}

.movielinks{
    text-decoration: none;
    color: cornsilk;
}

.contact-form{
    background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-image{
    text-align: center;
}
.contact-image>i{
    
    width: 10px;
    margin-top: -3%;
}
.contact-form form{
    padding: 12% 2%;
}
/* .contact-form form .row{
    margin-bottom: -7%;
} */
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}



