<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="page-content-wrapper">
        <app-adminheader></app-adminheader>
        <div class="container" *ngIf="userProfile">
            <form [formGroup]="service.ChangeformModel" autocomplete="off" (submit)="onSubmit()">
            <div class="container bootstrap snippets bootdey" style="margin: 20% 0%;">
                <div class="lc-block col-md-4 col-md-offset-4 toggled" id="l-login">
                    <div class="lcb-float"><i class="fa fa-users"></i></div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current Password" formControlName="OPassword"  required>
                    </div>
                    <span formGroupName="Passwords">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" formControlName="UPassword">
                        <label class="text-danger" *ngIf="service.ChangeformModel.get('Passwords.UPassword').touched && service.ChangeformModel.get('Passwords.UPassword').errors?.required">This
                  field is mandatory.</label>
                        <label class="text-danger" *ngIf="service.ChangeformModel.get('Passwords.UPassword').touched && service.ChangeformModel.get('Passwords.UPassword').errors?.minlength">Minimum
                  4 characters required.</label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="UCPassword">
                            <label class="text-danger" *ngIf="service.ChangeformModel.get('Passwords.UCPassword').touched && service.ChangeformModel.get('Passwords.UCPassword').errors?.required">This
                      field is mandatory.</label>
                            <label class="text-danger" *ngIf="service.ChangeformModel.get('Passwords.UCPassword').touched && service.ChangeformModel.get('Passwords.UCPassword').errors?.passwordMismatch">Confirm
                      Password does not match.</label>
                    </div>
                    </span>
                    <div class="clearfix"></div>
                    <button class="btn btn-block btn-primary btn-float m-t-25" type="submit" [disabled]="!service.ChangeformModel.valid">Update</button>
                    
                </div>
            </div>
            </form>
        </div>

    </div>
</div>